@font-face {
  font-family: DMSerif;
  src: url(/public/fonts/DMSerifText-Regular.ttf);
}
@font-face {
  font-family: inter-eb;
  src: url(/public/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: syne-sb;
  src: url(/public/fonts/Syne-SemiBold.ttf);
}

@layer utilities {
  .hover-effect {
    pointer-events: none; /* Ensure the overlay doesn't block hover events */
    transition: opacity 0.3s ease-out;
  }

  .group:hover .hover-effect {
    opacity: 0.5; /* Adjust the opacity as desired */
  }

  .group:hover .hover-effect + .relative > .rounded-lg:first-child {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
  }
}

.main-container{
  position: relative;
}


.nav{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.navLink{
  color: white
}
.hero{
  overflow:clip;
}
.parallax{
  display: grid;
  position: relative;
  grid-template-areas: "stack";
  width: 100%;
  min-height: 75vh;
  min-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

.parallax > img {
  width: 100%;
}

.parallax > * {
  grid-area:stack;
  animation: parallax linear;
  animation-timeline: scroll();
}
.parallax-content{
  --parallax-speed: 210;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-wave {
  z-index:500;

}
.hero-astoboy {
  z-index:5;
  --parallax-speed: 100;
}
.hero-whale {
  position: fixed;
  bottom: -100px;
  z-index: 4;
}
.hero-moon  {
  z-index:3;
  --parallax-speed: 100;
}
.hero-space {
  position: fixed;
  top:1px;
  z-index:2;
  --parallax-speed: 100;
}

.hero-text-container{
  position: fixed;
  --parallax-speed: 150;
  top: 100px;
  left: 25%;
  z-index: 4;
}
#hero-name{
  font-family: inter-eb;
  font-size: 3.5rem;
  
}
#hero-name-sub{
  font-family: syne-sb;
  font-size: 2rem;
}


@media(min-width: 1024px){
  .parallax__content {
    flex-direction: row;
    text-align: left;
  }
}
@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 1vh));
  }
}

